PORT=3000
CORS_ORIGIN="*"
API_VERSION="/api/v1"
APP_NAME="PREP ROUTE"
GET_METRICS="true"

MONGODB_URI=mongodb_url_here
ACCESS_TOKEN_SECRET=your_secret
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=your_secret
REFRESH_TOKEN_EXPIRY=10d

NODE_ENV=development