@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f8fafc;
  --foreground: #1e293b;

  --primary: #6475f7;
  --primary-hover: #5868f0;

  --border: #e2e8f0;

  --success: #10b981;
  --danger: #ef4444;
}

[data-theme="dark"] {
  --background: #0f172a;
  --foreground: #f8fafc;

  --border: #334155;
}

[data-font="inter"] {
  font-family: "Inter", sans-serif;
}

[data-font="poppins"] {
  font-family: "Poppins", sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
}